h1 {
    background-color: black;
    color: white;
    font-family:cursive
}
.newc {
    color: aqua;
}
h2 {
    background-color: blueviolet;
    color: white;
    text-align: center;
}
h3 {
    background-color:rgb(100, 187, 237);
    text-align: right;
    text-decoration: underline;
}